
*/migrations/*.py
!*/migrations/__init__.py

__pycache__/
*.py[cod]
*.pyo
*.pyd

local_settings.py
prod_settings.py
settings.spy

media/*

venv/

.idea/
.vscode/

.DS_Store
Thumbs.db

*.env
.env

*.log
*.pid
